language: php

php:
  - 7.1
  - 7.2
  - 7.3
before_script:
  - git clone https://github.com/php-geospatial/geospatial.git
  - cd geospatial
  - phpize
  - ./configure --enable-geospatial
  - make
  - sudo make install
  - echo "extension=geospatial.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - cd ..
install:
  - composer install
script: phpunit --coverage-text
